<div class="row">
  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Delay Time Setting</h4>
        <div class="form-group">
          <label class="form-input-title-small-device">Select Delay Time (Seconds):</label>
          <br>
          <select class="form-control form-control-lg form-input-text-small-device" [(ngModel)]="selectedTime"
              style="padding: 10px;">
              <option value="0">--Select--</option>
              <option *ngFor="let time of delayTimes" value={{time}}>
                  {{time}}
              </option>
          </select>
      </div>
      <div class="row">
          <div class="col-12">
              <button type="button" (click)="Save()"
                  class="btn btn-block btn-primary btn-lg text-uppercase form-button-text-small-device">Submit</button>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>