<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">User Registration</h4>
                <app-user></app-user>
            </div>
        </div>
    </div>
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Registered User</h4>
                <p class="card-description">
                    Click a username to populate the record in the entry form for editing, if required.
                </p>
                <app-userlist></app-userlist>
            </div>
        </div>
    </div>
</div>