<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">TV-IP Registration</h4>
                <app-tvip></app-tvip>
            </div>
        </div>
    </div>
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Registered TV-IP</h4>
                <p class="card-description">
                    Click a TV-IP address to populate the record in the entry form for editing, if required.
                </p>
                <app-tviplist></app-tviplist>
            </div>
        </div>
    </div>
</div>
