<div class="row">
  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Value of Remaining Confirmation for Unfinished Projects</h4>
        <div class="media">
          <i class="ti-clipboard icon-md text-info d-flex align-self-start mr-3"></i>
          <div class="media-body">
            <h2 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">{{allProfit}} €</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Value of Contracts to be Signed</h4>
        <div class="media">
          <i class="ti-panel icon-md text-info d-flex align-self-center mr-3"></i>
          <div class="media-body">
            <h2 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">{{plannedProfit}} €</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Potential of Participating Contracts</h4>
        <div class="media">
          <i class="ti-book icon-md text-info d-flex align-self-start mr-3"></i>
          <div class="media-body">
            <h2 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">{{evaluatedProfit}} €</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Potential of Contracts in Preparation</h4>
        <div class="media">
          <i class="ti-world icon-md text-info d-flex align-self-center mr-3"></i>
          <div class="media-body">
            <h2 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">{{preparingProfit}} €</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>