<div class="row">   
    <div class="col-md-3 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">                
                <div class="media">
                    <i class="ti-bar-chart-alt icon-md text-info d-flex align-self-start mr-3"></i>
                    <div class="media-body">
                        <h5 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0"><a routerLink="/revenue" style="text-decoration: none;">Revenues</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">               
                <div class="media">
                    <i class="ti-bar-chart-alt icon-md text-info d-flex align-self-center mr-3"></i>
                    <div class="media-body">
                        <h5 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0"><a routerLink="/main" style="text-decoration: none;">Main</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">               
                <div class="media">
                    <i class="ti-layers icon-md text-info d-flex align-self-end mr-3"></i>
                    <div class="media-body">
                        <h5 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0"><a routerLink="/ongoing-project-value" style="text-decoration: none;">Ongoing Project Value</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">                
                <div class="media">
                    <i class="ti-bar-chart-alt icon-md text-info d-flex align-self-end mr-3"></i>
                    <div class="media-body">
                        <h5 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0"><a routerLink="/project-preparation" style="text-decoration: none;">Project Preparation</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">   
    <div class="col-md-3 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">               
                <div class="media">
                    <i class="ti-bar-chart-alt icon-md text-info d-flex align-self-start mr-3"></i>
                    <div class="media-body">
                        <h5 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0"><a routerLink="/sales-by-month" style="text-decoration: none;">Sales by Month</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">               
                <div class="media">
                    <i class="ti-pie-chart icon-md text-info d-flex align-self-center mr-3"></i>
                    <div class="media-body">
                        <h5 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0"><a routerLink="/sales-by-seller" style="text-decoration: none;">Sales by Seller</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">                
                <div class="media">
                    <i class="ti-layout icon-md text-info d-flex align-self-end mr-3"></i>
                    <div class="media-body">
                        <h5 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0"><a routerLink="/planned-large-project" style="text-decoration: none;">Planned Large Project</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>










